.calculated-values {
    min-height: 120px;
    text-align: center;
    border-radius: 20px;
    box-shadow: $box-shadow;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > p {
        color: $palette-primary;
        

        &:first-child {
            margin-bottom: 10px;
        }

        &:last-child {
            word-break: break-all;
        }
    }
}