.select {
    width: 90%;
    height: auto;
    border: none;
    background-color: $palette-secondary;
    box-shadow: $box-shadow;
    margin-top: 30px;
    padding: 5px;
    text-align: center;
    font-family: 'Comfortaa', 'sans-serif';
    font-size: 15px;
    color: $palette-primary;

    &:first-child {
        margin-top: 0;        
    }

    @media screen and(hover: hover) {
        &:hover {
            cursor: pointer;
        }
    }
   
    @media screen and(min-width: 992px) {
        padding: 20px;
        margin-top: 30px;
    }
}